body {
  margin: 0;
  padding: 0;
  background: url(work9.jpg);
  background-size: cover;
}
.contact-form {
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat", sans-serif;

}
.contact-form h1 {
  margin-top: 0;
  font-weight: 200;

}
.textbox {
  border: 1px solid grey;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.textbox label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.textbox input,.textbox textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: #9b59b6;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 200px;

}
