/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: $secondary;

  &.header-transparent {
    background: none;
  }

  &.header-scrolled {
    background: rgba($secondary, 0.8);
    height: 60px;
  }

  .logo {

    h1 {
     font-size: 28px;
      margin: 0;
      padding: 4px 0;
      line-height: 1;
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    h1 a, h1 a:hover {
      color: #fff;
      text-decoration: none;
    }

    img {
      padding: 0;
      margin: 0;
      max-height: 40px;
    }
  }
}

#main {
  margin-top: 80px;
}
