// Default Colors Set
$default: #444;
$default-light: #666;
$default-dark: #222;

// Primary Colors Set
$primary: #68A4C4;;
$primary-light: #a2cce3;
$primary-dark: #32627b;

// Secondary Colors Set
$secondary: #1e4356;
$secondary-light: #7b9bab;
$secondary-dark: #0d2735;

// Link Colors
$links: #4fa6d5;
$links-hover: #45beff;

// General Colors
$red: #dc3545;
$green: #28a745;
$blue: #007bff;
$yellow: #ffc107;
$orange: #fd7e14;
$brown: #7b4f2c;
$purple: #6f42c1;
$pink: #e83e8c;
$white: #fff;
$gray: #6c757d;
$black: #343a40;
$teal: #20c997;
$cyan: #17a2b8;

/// Fonts
$font-default: 'Open Sans', sans-serif;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;
